.nav-bar {
    display: flex;
    justify-content: space-between;
}

#li-itm {
    list-style-type: none;
    display: inline-block;
    width: 100px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
}

#under_line {
    text-decoration: none;
}

#li-itm:hover {
    background-color: rgba(50, 255, 255, 0.719);
}

.active {
    background-color: rgb(0, 255, 255);
}