body {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d)fixed;
}

.main_class {
    margin: 10% auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.menu_vertical_bar {
    padding: 10px;
}

.menu_items_list {
    list-style-type: none;
    width: 250px;
}

li {
    padding: 20px;
    background-color: aqua;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
}

.profile {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
}

.profile-image {
    position: relative;
    top: -60px;
    border-radius: 1rem;
    background-image: url(photos/myphoto.jpg);
    width: 11rem;
    height: 11rem;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 50px 0px rgb(7 116 1), 0px 0px 0px 7px rgb(0 46 9 / 50%);
}

.profile-info {
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 1rem;
}

.profile-info>.profile-name {
    color: #212121;
}

.profile-info>.profile-desc {
    color: #666666;
    font-size: 0.9rem;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 15px;
}

.fa:hover {
    opacity: 0.8;
}

.fa-facebook {
    background: #325ebb;
    color: white;
    box-shadow: 0px 5px 30px 0px rgb(2, 59, 126);
}

.fa-twitter {
    background: #33a4fa;
    color: white;
    box-shadow: 0px 0px 30px 0px rgb(7 162 239);
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    box-shadow: 0px 5px 30px 0px rgb(2, 161, 253);
}

.fa-youtube {
    background: #bb0000;
    color: white;
    box-shadow: 0px 5px 30px 0px rgb(250, 0, 42);
}

.fa-instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
    box-shadow: 0px 5px 30px 0px rgb(112, 0, 250);
}